.contact-details {
  padding:20px 10px;
  .map-detail-item {
    position: relative;
    padding-left:64px;
    a {
      color:#000;
    }
    i {
      font-size:48px;
      position: absolute;
      left:0;
      top:50%;
      transform: translateY(-50%);
      color:var(--accent-blue);
    }
  }
}
.map-container {
  iframe {
    height:500px;
  }
}