.main {
  padding-top: 0;
}
header {
  background: linear-gradient(to right, rgba(117, 46, 176, 0.4), rgba(30, 11, 67, 0.4));
}

.hero-banner__wrapper {
  background-size:cover;
  padding:250px 0 167px;
  overflow: hidden;
  background-position: left center;
}

.hero-banner__container {
  width:100%;
  max-width: 1320px;
  padding:0 15px;
  .hero-card {
    background-color: rgba(0,0,0, 0.3);
    padding:10px;
    border-radius: 5px;
    width:100%;
    max-width: 380px;
    @media (max-width: 575.98px) {
      max-width: initial;
    }
    h1 {
      color:#fff;
    }
    .hero-cta {
      display: flex;
      flex-flow: row nowrap;
      margin-top:20px;
      justify-content: space-between;
      a {
        flex:0 0 49%;
        padding:10px 0;
        color:#fff;
        border-radius:5px;
        border:1px solid var(--accent-blue);
        &.fill {
          background:var(--accent-blue);
        }
      }
    }
  }
}

section {
  padding:20px 0;
  position: relative;
  &.angle-down-to-right {
    color: #fff;
    background:#272727;
    &:before, &:after {
      content: '';
      height: 36px;
      background: #272727;
      position: absolute;
      left:-10px;
      right:0;
    }
    &:before {
      top: -20px;
      transform: rotate(0.7deg);
    }
    &:after {
      bottom: -20px;
      transform: rotate(-0.7deg);
    }
    &.bg-blue, &.bg-orange {
      &:before, &:after {
        background: #fff;
        position: absolute;
      }
    }
  }
}

.gallery-item-photo {
  .img-wrapper {
    position: relative;
    padding-bottom:70%;
  }
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.map-wrapper {
  display:flex;
  flex-flow: row wrap;
  .map-details {
    padding:20px 10px;
    flex:0 1 350px;
    background: var(--accent-blue);
    color:#fff;
    @media (max-width:767.98px) {
      flex:0 0 100%;
    }
    .map-detail-item {
      position: relative;
      padding-left:64px;
      a {
        color:#fff
      }
      i {
        font-size:48px;
        position: absolute;
        left:0;
        top:50%;
        transform: translateY(-50%);
      }
    }
  }
  .map-container {
    flex:1 0 auto;
    @media (max-width:767.98px) {
      flex:0 0 100%;
      iframe {
        height:300px;
      }
    }
  }
}