.vr-lesson-card {
  margin-bottom:30px;
  .img-wrapper {
    padding-bottom: 70%;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom:10px;
    img {
      position: absolute;
      object-fit: cover;
      width:100%;
      height:100%;
    }
  }
  p {
    font-size:14px;
  }
}