body {
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
}
h1 {
  font-size:40px
}
h2 {
  font-size:30px;
}
h3 {
  font-size:20px;
}
ul {
  margin:0;
  padding: 0;
}
li{
  list-style: none;
}
a, a:hover{
  text-decoration: none;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

.bg-blue {
  background: var(--accent-blue) !important;
}
.bg-orange {
  background: var(--accent-orange) !important;
}

.text-gradient-orange {
  background: var(--gradient-text-orange);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-gradient-blue {
  background: var(--gradient-text-blue);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main {
  padding-top: 82.39px;
}

.btn-primary {
  border-radius: 5px;
  padding:3px 10px;
  display: inline-block;
  background-color: transparent;
  &:hover {
    color: var(--accent-blue);
    background-color: transparent;
  }
  &.accent-blue {
    color:var(--accent-blue);
    &.border {
      border:1px solid var(--accent-blue) !important;
    }
  }
  &.accent-orange {
    color:var(--accent-orange);
    &.border {
      border:1px solid var(--accent-orange) !important;
    }
  }
}

.bullet-list {
  li {
    list-style: initial;
    list-style-position: inside;
    text-align: justify;
  }
}

.grid-image {
  position: relative;
  padding-bottom:70%;
  border-radius: 4px;
  overflow: hidden;
  img {
    width:100%;
    height:100%;
    object-fit: cover;
    position: absolute;
  }
}

.vrs-form {
  .form-group {
    margin-bottom:0.5rem;
    label {
      margin-bottom:0;
      &:not(.error) {
        font-size:14px;
      }
      &.required:after {
        content: "*";
        color:#ff2323;
        margin-left:2px;
      }
      &.error {
        font-size:14px;
        color:#ff2323
      }
    }
    input, textarea {
      &.error {
        border-color:#ff2323;
      }
    }
  }
}