:root {
  // colors
  --accent-orange: #dd8808;
  --accent-blue: #22a0d6;
  //gradients
  --gradient-text-orange: linear-gradient(to bottom, #dd8808 50%, #f00);
  --gradient-text-blue: linear-gradient(to bottom, #22a0d6 50%, #00f);
}
