<header>
    <div class="header-wrapper d-flex position-relative">
        <div class="container-logo">
            <h1 class="m-0">
                <a href="{{ path('front_homepage') }}">
                <picture>
                    <source media="(min-width: 992px)" srcset="{{ asset('build/img/logo.png') }}">
                    <img src="{{ asset('build/img/logo-mobile.png') }}" class="img-fluid">
                </picture>
                </a>
            </h1>
        </div>
        <div class="container-nav">
            <img src="{{ asset('build/img/logo.png') }}" class="img-fluid d-block d-md-none mx-auto side-nav-logo" />
            <div class="info-container text-center text-md-end">
                <ul class="d-inline-block">
                    <li><a href="tel:+40784939936"><i class="las la-phone"></i></a></li>
                    <li><a href="https://www.facebook.com/virtuality.club.romania"><i class="lab la-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/virtuality.club.romania"><i class="lab la-instagram"></i></a></li>
                </ul>
            </div>
            <div class="nav-container pt-0 pt-md-2">
                <nav>
                    {{ knp_menu_render('main') }}
                </nav>
            </div>
        </div>
        <div class="hamburger-menu d-block d-md-none">
            <span></span>
        </div>
    </div>
</header>