header {
  flex-flow:row nowrap;
  background: rgba(200, 6, 81, 1);
  background: linear-gradient(to right, rgba(117, 46, 176, 1), rgba(30, 11, 67, 1));
  position: fixed;
  width:100%;
  top:0;
  left:0;
  right:0;
  z-index:99;
  &.menu-active {
    background: rgba(30, 11, 67, 1) !important;
    .container-nav {
      margin-right:0;
      transition: margin-right 0.3s ease-out;
    }
    .hamburger-menu {
      span {
        background:transparent;
        &:before, &:after {
          content:'';
          top:0;
          transition: top 0.2s ease, transform 0.2s ease;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg)
        }
      }
    }
  }
}
.header-wrapper {
  max-width:1320px;
  margin: auto;
}
.container-logo {
  flex: 0 0 150px;
  padding:10px;
  @include media-breakpoint-down(md) {
    flex: 0 0 80px;
  }
  img {
    filter: brightness(0) invert(1);
  }
}
.container-nav {
  padding-right:10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex:1 1 auto;
  .info-container {
    li {
      display: inline-block;
      margin-left:10px;
      color:#fff;
      border-radius:5px;
      font-size:14px;
      position: relative;
      a {
        color:#fff;
      }
      i {
        font-size: 24px;
        color:#fff;
      }
    }
  }
  nav {
    text-align: right;
    ul {
      align-items: center ;
      li {
        &.current {
          a:after {
            content:'';
            position: absolute;
            left:0;
            right:0;
            height:2px;
            background-color: #fff;
            bottom:0;
          }
        }
        i{
          display: none;
        }
        display: inline-block;
        margin-left:10px;
        a {
          color:#fff;
          text-transform: capitalize;
          padding-bottom:3px;
          position: relative;
          &:hover {
            color:#fff;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    position:fixed;
    height:100vh;
    background:indianred;
    width:250px;
    top:0;
    right:0;
    margin-right:-250px;
    background: linear-gradient(to bottom, rgba(30, 11, 67, 1) 20%, rgba(117, 46, 176, 1));
    padding:10px;
    display: block;
    overflow-y:auto;
    .side-nav-logo {
      margin-top:20px;
      filter: brightness(0) invert(1);
    }
    .info-container {
      margin-top:20px;
      li {
        margin-left:0;
        padding:0 10px;
        border: none;
        i {
          left: 5px;
        }
      }
    }
    nav {
      padding:0 20px;
      margin-top:20px;
      text-align: left;
      ul {
        li {
          display: block;
          margin-left:0;
          padding:5px 0;
          i {
            display: inline-block;
            color:#fff;
            font-size:24px;
            vertical-align: middle;
            margin-right:10px;
          }
          a {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.hamburger-menu {
  width:30px;
  height:30px;
  cursor:pointer;
  position: absolute;
  right:10px;
  top:50%;
  transform: translate(0,-50%);
  transition: transform 0.3s ease-out;
  span {
    height:4px;
    background:#fff;
    position: absolute;
    left:0;
    right:0;
    top:50%;
    transform:translateY(-50%);
    &:before, &:after {
      content:'';
      position:absolute;
      border:2px solid #fff;
      left:0;
      right:0;
      transition: top 0.2s ease;
    }
    &:before {
      top:-8px
    }
    &:after {
      top:8px
    }
  }
}

