{% extends 'front_layout.html.twig' %}

{% block title %}Ce reprezinta realitatea virtuala - Virtuality Club{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h1 class="text-gradient-blue">Ce reprezintă realitatea virtuală?</h1>
                <h3 class="text-gradient-orange">Realitatea virtuala: ce inseamna si cum functioneaza</h3>
                <p>Conceptul de realitate virtuală (Virtual Reality sau VR) derivă din termenii de realitate și virtual. Virtualul presupune absența unor limite vizuale, palpabile, fiind legat nemijlocit de imaginație și minte.</p>
                <p>Astfel, realitatea virtuală ar putea fi tradusă prin realitatea imaginativă, a viselor. Asta poate presupune multe opțiuni dar și o emulare specifică a realității. Realitatea virtuală este una din tehnologiile de ultimă generaţie, care cunoaşte o dezvoltare fără precedent, ce ne duce cu mult în viitor.</p>
                <p>Ochelarii VR au devenit în ultima perioadă aproape o obişnuinţă, fiind comercializaţi la preţuri accesibile tuturor. Prin intermediul tehnologiei ce stă la baza realităţii virtuale se poate experimenta o realitate care nu există, creată de un calculator. Spre desosebire de realitatea augmentată (AR), care permite suprapunerea unei realităţii artificiale (virtuale) peste cea reală, realitatea virtuală nu este concepută pentru a extinde realitatea aşa cum o putem percepe cu ochii, urechile şi celelalte simţuri, ci recreează o realitate în totalitate separată de cea fizică. VR-ul îl izolează pe utilizator într-un spaţiu digital, în timp ce AR-ul îi permite utilizatorului să experimenteze obiecte virtuale, în timp ce rămâne în continuare angrenat în realitate.</p>
                <img data-src="{{ asset('build/img/about/virtual-reality-1.jpg') }}" class="img-fluid d-block mx-auto lazy" />
                <span class="small font-italic text-secondary mb-4 d-inline-block">Ochelari VR</span>
                <p>Există multe tipuri de sisteme de realitate virtuală, dar toate au aceleaşi caracteristici, precum abilitatea de a permite persoanei să vadă imagini tridimensionale. Aceste imagini sunt în mărimea naturală şi se schimbă atunci când persoana se plimbă prin mediul ce corespunde schimbăroo câmpului vizual. Scopul este să existe o îmbinare perfectă între cap şi mişcările ochilor şi percepţia a ceea ce se petrece în acel mediu. Asta întăreşte ideea că mediul virtual trebuie să fie atât realistic cât şi agreabil.</p>
                <p>Principala utilizare a acestei tehnologii, în prezent, este destinată vizionării de fime şi jocurilor, prin intermediul unor ochelari speciali. Ochelarii de realitate virtuală reprezintă un dispozitiv VR, ce oferă o simulare a realităţii, utilizatorul având impresia că se află prezent fizic în anumite locuri fie reale, fie imaginare, putându-se chiar teleporta în jocuri sau spaţiu. Posibilităţile oferite de ochelatii VR sunt deosebite, oferind oportunitatea de a urmări o imagine 360 din toate unghiurile, de a urmări un film în care la orice secvenţa având posibilitatea de a întoarce capul şi a vedea ce se află în spatele actorului, ce este deasupra sau dedesupt. Acest tip de ochelari au capacitatea de a rula jocuri, aplicaţii şi filme HD.</p>
                <p>Se pot descrie că fiind nişte ecrane, câte unul pentru fiecare ochi, care au o vizibilitate extinsă. Acurateţea imaginilor este foarte bună, iar efectul este excepţional. Ochelarii VR funcţionează că un suport în care este introdus un telefon Android cu o anumită diagonală, în funcţie de tipul ochelarilor. Filmul este rulat pe telefon, iar realitatea virtuală este percepută cu ajutorul ochelarilor. Aceştia pot fi utilizaţi şi de persoanele ce suferă de miopie, putând fi purtaţi şi ochelarii de vedere în acelaşi timp cu ochelarii VR. Mai mult, s-au făcut teste şi s-a constatat că la dioptrii de până la -3, ochelarii VR pot fi puşi direct, imaginea fiind destul de clară.</p>
                <img data-src="{{ asset('build/img/about/virtual-reality-2.jpg') }}" class="img-fluid d-block mx-auto mb-4 lazy" />
                <h3 class="text-gradient-orange">Realitate Virtuala: Perspective</h3>
                <p>Conceptul de realitatea virtuală datează demult, fiind un element futuristic prezentat într-o mulțime de opere literare și filme (Star Treck, Matrix etc). Faptul că VR există în prezent are legătură fără niciun dubiu cu faptul că sistemele de calcul devin mai performante și în același timp se micșorează în dimensiune.</p>
                <p>Alte caracteristici ce fac posibilă realitatea virtuală sunt: spațiul de stocare foarte mare și viteza de transfer care continuă să crească, existența unui medii universale de conectare între variate dispozitive, de exemplu USB și wireless; inclusiv viteaza crescândă la internet, plus posibilitatea de a beneficia de anumite servicii online aproape gratuit, de exemplu stocare în cloud ș.a. contribuie sau o să contribuie cu mult la modul în care realitatea virtuală va exista și va putea fi aplicată.</p>
                <p>Partea software este la rândul ei importantă, însă este dependentă de hardware, în sensul că este influențată direct de către aceasta. Faptul că stagiul curent de dezvoltare software se axează pe inteligență – inteligență artificială – rezultă că, cumva, hardware-ul a depășit cu mult software-ul.</p>
                <p>Noile tehnologii de procesare (calculator cuantic), stocare date (pe fibră de quarț), chiar și progresele făcute în domeniul neurologiei – de înțelegere și de modificare a modului în care creierul funcționează – vor influența pozitiv fenomenul de răspândire și aplicare al realității virtuale. Cu alte cuvinte, ne putem aștepta ca tehnologia, în ansamblul ei, să fie aplicată în moduri cu totul inedite.</p>
                <p>Realitatea virtuală are o serie de moduri de aplicare mult mai variate şi serioase: arhitectură, sport, medicină, artă, entertainment. Această tehnologie poate duce la descoperiri noi şi captivante în domenii care au un impact direct asupra vieţilor noastre de zi cu zi. Multe domenii de activitate se pot reinventa prin folosirea acestei tehnologii. Concertele, vizitele la muzeu, evenimentele sportive şi orice implică videoconferinţa va oferi o experienţă mult mai intimă. Însă, dincolo de entertainment, realitatea virtuală va putea fi folosită şi în domenii esenţiale vieţii, precum sănătatea. VR-ul şi realitatea augmentată ar putea fi folosite pentru educaţia şi antrenamentul viitorilor doctori.</p>
                <h3 class="text-gradient-orange">Aplicatiile realitatii virtuale</h3>
                <p>Realitatea virtuală are potențialul de a schimba multe aspecte ale vieții cotidiene. În cele ce urmează am să prezent 3 dintre ele, pe care eu le consider cele mai importante. Pe parcursul, VR ar putea fi folosit în moduri mult mai greu de diferențiat de realitate sau care vor fi parte integrată din realitate – de exemplu întreaga activitate cotidiană (serviciu, recreere, călătorii) s-ar putea face dintr-un joc, cu locuri reale, cu personaje reale, cu situații normale.</p>
                <p class="font-weight-bold">1. Jocurile pe calculator vor fi mai reale ca niciodată</p>
                <p>Industria jocurilor pe calculator este una majoră pe piața de software, continuă să crească, iar odată cu lansarea realității virtuale nu cred că va mai exista persoane care să nu-și dorească să joace jocuri pe calculator – asta, firește, dacă VR este suficient de accesibil ca preț pentru publicul general.</p>
                <p>Imaginează-ți doar cum ar fi să îți pui ochelarii de VR și să exiști efectiv într-un spațiu virtual 3D, acela al jocului; oriunde te-ai uita, stânga-dreapta, sus-jos, vei putea să fi parte integrată a graficului jocului și a acțiunii care se petrece în el. Gesturile pe care le faci vor produce anumite acținui in cadrul jocului, mai mult decât atât ar putea fi posibilă deplasarea fizică într-un dispozitiv gen bandă rulantă, care va avea rolul de a produce deplasarea în cadrul jocului.</p>
                <p>Dacă jocul este și de tipul second life, ei bine, este exact cazul descris în introducere, vei putea să călătorești nu fizic ci virtual în locuri care au fost recreate din realitate, vei putea să te duci la serviciu în acest mod, să te duci la cinema, la școală, la cumpărături etc.</p>
                <p class="font-weight-bold">2. Filmele vor putea fi vizualizate la 360 de grade</p>
                <p>În caz că nu ști, există pe Youtube videoclipuri care pot fi redate la 360 de grade, adică mutarea mausului va duce la schimbarea focalizării. În realitatea virtuală, astfel de filme vor putea fi văzute în 3D, în toate direcțiile, subiectul fiind parte activă în cadrul conținutului video. De exemplu ai putea vedea cu ochii tai cum s-a scufundat Titanicul – dacă o să se filmeze o nouă versiune a filmului, în VR.</p>
                <p>Filmele de înaltă definiție (HD – Hight Definition) sau cele văzute cu ochelarii 3D ar putea fi considerate la fel de învechite pe cât considerăm noi filmele alb-negru.</p>
                <p class="font-weight-bold">3. Învățarea și mai ales aplicarea și practicarea celor învățate va deveni mult mai ușoară și distractivă</p>
                <p>Cu toții știm că invățarea de noi lucruri este extrem de dificilă atunci când este făcută mecanic, însă dacă conținutul este prezentat într-o manieră interactivă, atunci nu doar că informațiile vor fi reținute și aplicate mai bine, dar și învățarea în sine va deveni distractivă.</p>
                <p>Imaginează-ți că în loc să citești despre cum funcționează un calculator, vizionezi un film în care poți examina fiecare componentă în parte, având acces la informațiile pe care vrei să le cunoști. Poți vedea în practică cum circulă impulsurile electrice în cadrul plăcii de bază, procesorului, memoriei internet și a cealorlalte componente. Cu siguranță că vei reține și înțelege mult mai bine și mai rapid decât dacă ai citi.</p>
                <p>Același lucru va fi valabil și la un nivel mai avansat. De exemplu vei putea să practici șofatul, condusul unui avion sau a oricărei alte mașini care necesită un anumit nivel de experiență și aptitudini dezvoltate anterior. Învățarea, practicarea și experimentarea vor deveni mult mai ușoare, examenul de testare real putându-se face chiar din cadrul realității virtuale sau în orice caz în funcție de rezultatele obținute în aceasta.</p>
                <h3 class="text-gradient-orange">In concluzie</h3>
                <p>Realitatea virtuală este fără îndoială un tip de tehnologie care va fi folosită la scară largă, avantajele folosirii acesteia sunt evidente, iar consecințele avantajelor sunt extrem de pozitive, atât la nivel de individ cât și la nivel de colectiv (poate chiar global). Pe lângă avantaje există și dezavantaje, de exemplu va deveni foarte greu de făcut o diferență între realitate și virtual, iar cum în realitatea virtuală ai vieți nelimitate și în cea reală doar una, confundarea celor două ar putea fi fatală. Un alt dezavantaj ar mai fi și că realitatea virtuală va constitui un drog, o dependență, un vis din care nu ai mai vrea să te trezești. Ceea ce nu este un mod de viață tocmai „realist” și care să te facă să-ți dorești să urmărești un anume scop în viață, care să-ți confere și o satisfacție pe termen lung.</p>
                <img data-src="{{ asset('build/img/about/virtual-reality-3.jpg') }}" class="img-fluid d-block mx-auto mb-4 lazy" />
                <p>Tu ce părere ai despre realitatea virtuală și ce alte aplicații îi mai găsești? Dacă ai avea la îndemănă posibilitatea de a există într-o realitate virtuală, cum ai găsi un echilibru între viața reală și cea imaginară?</p>
                <p>Dacă ți-a plăcut articolul nu uita să-l distribui mai departe pe rețelele sociale. Dacă ai intrebări și nelămuriri scrie-le în secțiune de comentarii. Feedback-ul este oricând apreciat și binevenit.</p>
            </div>
        </div>
    </div>
{% endblock %}