{% extends 'front_layout.html.twig' %}

{% block title %}Contact - Virtuality Club{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h1 class="text-gradient-blue">Contact VR</h1>
                <p>În clubul nostru vârsta nu are importanţă! Nici macar nu trebuie să fiţi pasionaţi de jocuri de calculator.</p>
                <p>Distracţia în club este pentru toţi, indiferent de vârstă, sex şi pasiuni.</p>
                <p>Vă aşteptăm singuri sau cu prietenii. Mai mult, daca veniţi cu prietenii, puteţi vedea reacţia lor când se scufundă în Realitatea Virtuală, sau puteţi juca jocuri în echipă!</p>
                <p>Noi lucrăm în fiecare zi. Totodată, puteţi face rezervări la numărul nostru de telefon.</p>
                <p>Vă aşteptăm, suntem siguri că o să vă placă!</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 mb-4">
                <h2 class="text-gradient-orange mb-3">Contact / Rezervare</h2>
                {% include 'front/snippets/flash_messages.html.twig' %}
                {{ form_start(contact_form) }}
                {{ form_widget(contact_form) }}
                <input type="submit" value="Send" class="btn btn-success"/>
                {{ form_end(contact_form) }}
            </div>
            <div class="col-md-6">
                <h2 class="text-gradient-orange mb-3">Informatii</h2>
                <div class="contact-details">
                    <div class="map-detail-item">
                        <i class="las la-clock"></i>
                        <span class="d-block font-weight-bold">Program</span>
                        <span class="small d-block">Luni - Vineri 14:00 - 22:00</span>
                        <span class="small d-block">Sâmbătă - Duminică 12:00 - 22:00</span>
                    </div>
                    <div class="map-detail-item mt-3">
                        <i class="las la-map-marker"></i>
                        <span class="d-block font-weight-bold">Adresa</span>
                        <span class="small d-block">Bulevardul Bucureştii Noi nr. 53, sector 1, Bucureşti</span>
                    </div>
                    <div class="map-detail-item mt-3">
                        <i class="las la-phone"></i>
                        <span class="d-block font-weight-bold">Telefon</span>
                        <a href="tel:+40784939936" class="small d-block">+40 784 93 99 36</a>
                    </div>
                    <div class="map-detail-item mt-3">
                        <i class="las la-envelope"></i>
                        <span class="d-block font-weight-bold">Email</span>
                        <a href="mailto:info@virtualityclub.ro" class="small d-block">info@virtualityclub.ro</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="map-container mt-5">
        <iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=Bulevardul%20Bucure%C8%99tii%20Noi%2053&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('contact') }}
{% endblock %}