{% extends 'front_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('gallery') }}
{% endblock %}

{% block title %}Galerie Foto - Virtuality Club{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h1 class="text-gradient-blue">Galerie Foto</h1>
            </div>
        </div>
        <div id="images" class="row mt-5">
            {% for i in 1..26 %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="grid-image">
                        <img data-src="{{ asset('build/img/' ~ i ~ '.jpg') }}" class="lazy" />
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('gallery') }}
{% endblock %}