{% extends 'front_layout.html.twig' %}

{% block title %}Virtuality Club - Descopera Realitatea Virtuala{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block hero %}
    <div class="hero-banner__wrapper" style="background-image: url({{ asset('build/img/hero-img.jpg') }})">
        <div class="hero-banner__container mx-auto">
            <div class="hero-card text-center float-end">
                <h1>Virtuality Club</h1>
                <div class="hero-cta">
                    <a class="fill" href="{{ path('front_contact') }}">Rezerva</a>
                    <a href="{{ path('front_istoria_vr') }}">Descopera</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5 mt-md-4 py-2 py-md-4">
            <div class="col">
                <h1 class="text-center text-gradient-blue">Virtuality Club</h1>
                <h2 class="text-center text-gradient-orange">Realitate virtuala care impresionează</h2>
            </div>
        </div>
    </div>
    <!-- section :: begin -->
    <section class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <span class="h3 text-gradient-blue">Ce Oferim:</span>
                    <ul class="bullet-list mt-3">
                        <li>Un loc de PETRECERI pentru copii, adolescenţi şi adulţi, în stil Hi-Tech</li>
                        <li>Un club de Gaming cu simulatoare dedicate atât copiilor, cât şi adulţilor</li>
                        <li>O arenă unde copiii şi adulţii pot face multă mişcare prin diverse jocuri sportive şi distractive</li>
                        <li>Şi nu în ultimul rând, un loc, unde prin intermediul realităţii virtuale poţi studia obiecte imposibile în realitate, cum ar fi: anatomie, astronomie, sporturi extreme etc</li>
                    </ul>
                    <p class="mt-3">Într-un cuvânt, Virtuality Club este locul unde copiii pot învăţa lucruri noi, încerca profesii, explora lumea, universul, corpul uman, zbura, urca în munţi, desena şi modela 3D şi multe altele.</p>
                    <a class="btn-primary accent-blue border" href="{{ path('front_about') }}">Afla mai multe</a>
                </div>
                <div class="col-lg-6 col-md-6 col-6 mx-auto d-sm-block d-none">
                    <img data-src="{{ asset('build/img/section-vr.png') }}" class="img-fluid lazy"/>
                </div>
            </div>
        </div>
    </section>
    <!-- section :: end -->
    <div style="height:100px;"></div>
    <!-- section :: begin -->
    <section class="mt5 angle-down-to-right">
        <div class="container">
            <div class="row">
                <div class="col">
                    <span class="h2 text-gradient-orange d-inline-block">Galerie Foto</span>
                    <a class="btn-primary accent-blue d-inline-block small" href="{{ path('front_gallery') }}">Vezi galeria foto</a>
                </div>
            </div>
            <div class="row">
                {% for i in 1..8 %}
                    {% set img %}home-gallery-{{ i }}.jpg{% endset %}
                    <div class="col-lg-3 col-md-4 col-sm-6 gallery-item-photo mt-4">
                        <div class="img-wrapper">
                            <img data-src="{{ asset('build/img/' ~ img) }}" class="lazy"/>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <div style="height:100px;"></div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <span class="h1 text-gradient-orange">Bucharest Tech Week 2019</span>
                    <span class="mt-3 d-block">Punând casca de realitate virtuală pe cap, te scufunzi într-o lume fantastică.</span>
                    <span>Poţi explora universul, adancurile ocenelor, lupta cu inamicii sau cu roboţii. Poţi face box sau poţi să schiezi.</span>
                    <span class="d-block h3 text-gradient-blue mt-3">Experienţele sunt nenumărate!</span>
                    <span class="d-block font-weight-bold">
                        Şi nu ne oprim aici, vizitând Clubul nostru mai puteţi:
                    </span>
                    <ul class="bullet-list">
                        <li>să vă apăraţi de drone cosmice</li>
                        <li>să conduceţi un bolid de curse</li>
                        <li>să zburaţi cu o navă cosmică, avion, elicopter</li>
                        <li>să vă daţi pe tobogane</li>
                        <li>să vă scufundaţi în adâncul oceanului</li>
                        <li>să zburaţi în spatiu</li>
                        <li>să vă plimbaţi prin subsoluri şi mine înfricoşătoare, ca să vedeţi cât curaj aveţi</li>
                        <li>să desenaţi şi modelaţi în spaţiu tridimensional</li>
                        <li>să vă dezvoltaţi creativitatea</li>
                        <li>să aflaţi ceva nou, într-o clipă ajungând în diverse oraşe, muzee, canioane, munţi si multe alte locuri impresionante</li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                {% for i in 1..3 %}
                    {% set img %}2019-tech-week-{{ i }}.jpg{% endset %}
                    <div class="col-lg-3 col-sm-4 gallery-item-photo mt-4">
                        <div class="img-wrapper">
                            <img data-src="{{ asset('build/img/' ~ img) }}" class="lazy"/>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- section :: end -->
    <!-- section :: start -->
    <section class="map-section">
        <div class="map-wrapper">
            <div class="map-details">
                <div class="map-detail-item">
                    <i class="las la-clock"></i>
                    <span class="d-block font-weight-bold">Program</span>
                    <span class="small d-block">Luni - Vineri 14:00 - 22:00</span>
                    <span class="small d-block">Sâmbătă - Duminică 12:00 - 22:00</span>
                </div>
                <div class="map-detail-item mt-3">
                    <i class="las la-map-marker"></i>
                    <span class="d-block font-weight-bold">Adresa</span>
                    <span class="small d-block">Bulevardul Bucureştii Noi nr. 53, sector 1, Bucureşti</span>
                </div>
                <div class="map-detail-item mt-3">
                    <i class="las la-phone"></i>
                    <span class="d-block font-weight-bold">Telefon</span>
                    <a href="tel:+40784939936" class="small d-block">+40 784 93 99 36</a>
                </div>
                <div class="map-detail-item mt-3">
                    <i class="las la-envelope"></i>
                    <span class="d-block font-weight-bold">Email</span>
                    <a href="mailto:info@virtualityclub.ro" class="small d-block">info@virtualityclub.ro</a>
                </div>
            </div>
            <div class="map-container">
                <iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=Bulevardul%20Bucure%C8%99tii%20Noi%2053&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
    </section>
    <!-- section :: end -->
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}