{% extends 'front_layout.html.twig' %}

{% block title %}Istoria VR - Virtuality Club{% endblock %}

{% block content %}
    <div class="container">
        <div class="row  mt-5">
            <div class="col">
                <h1 class="text-gradient-blue">Istoria VR</h1>
                <p>Au trecut deja opt ani de când Palmer Lucky a facut primul prototip ai ochelarilor Oculus Rift în garajul părinților săi, și, desi realitatea virtuala mai are inca mult de crexcut, gamerii din întreaga lume tot mai mult privesc realitatea virtuala ca ceva obisnuit.</p>
                <p>Se presupune că prima cască de realitate virtuala a apărut în 1968 și a fost dezvoltată de Ivan Sutherland și Bob Sproul. Industria jocurilor a incepu sa se apropie de realitatea cirtuala abia la sfârșitul anilor 80, cand sa crezut gresit ca aceasta reprezinta o noua nisa al gaming-ului. În anii 90, mai multe dispozitive VR au fost realizate, dintre care niciunul nu a putut fi numit cu adevărat de succes. Mulțe dispozitive au fost respinși chiar înainte de lansare, majoritatea acestor ne luate in seama de gameri.</p>
                <p>Mai jos gasiti cele mai faimoase încercări de a introduce VR-ul în jocurile video:</p>
                <h3 class="text-gradient-orange">SegaScope 3-D Glasses (1987)</h3>
                <p>În general, Sega a încercat să revendice titlul de pionier al VR-ului în industrie încă din 1987, dar, de fapt, prima ei încercare nu avea nimic comun cu realitatea virtuală.</p>
                <p>Ochelarii 3-D SegaScope au fost inventați de Mark Cerney, autorul legendarului joc Marble Madness care au devenit un accesoriu pentru Sega Master System, creând iluzia graficii 3D în anumite jocuri, ceea ce a avut o impresie enorma asupra jucătorilor. În același timp, SegaScope 3-D nu poate fi considerat un eșec, având în vedere succesul jocurilor precum Maze Hunter și Missile Defense. De asemenea, cu acest accesoriu a fost completata arcada 3D Zaxxon.</p>
                <p>În acel moment, in toate casele existau televizoare CRT, care trimiteau pe ochelarii pe rand cate o jumătate din imagine, imitând un 3D. Cu toate acestea, un astfel de system reducea rata de cadru la jumătate, creând un efect pâlpâitor.</p>
                <img data-src="{{ asset('build/img/history-1.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <h3 class="text-gradient-orange">VPL Research</h3>
                <p>VPL Research a fost fondată de un fost colaborator din Atari, Jaron Lanier și, deși nu se poate lăuda de invenții revoluționare, trebuie să mentionam ca aceasta companie a fost una dintre cel mai importanți experimentatori în industria jocurilor. Mai mult, VPL Research a lansat câteva dispozitive interesante, cum ar fi The EyePhone, care a urmărit mișcările capului sau The Data Glove, care a devenit baza pentru viitorul Power Glove de la Nintendo.</p>
                <img data-src="{{ asset('build/img/history-2.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <img data-src="{{ asset('build/img/history-3.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <h3 class="text-gradient-orange">Virtualitate (1990)</h3>
                <p>In cadrul expoziției Computer Graphics 90, Jonathan Waldern a prezentat cateva variante al sistemului de jocuri virtualitate. Primul ansamblu a constat dintr-o cască cu două ecrane LCD, care afișau o imagine cu o rezoluție de 276×372 și un joystick.</p>
                <img data-src="{{ asset('build/img/history-4.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <p>Insa, mult mai interesanta a fost o altă opțiune, care era un adevarat simulator de avioane, în care jucătorul putea intra și interacționa cu lumea virtuală folosind un volan.</p>
                <p>Desigur, în realitate, totul a fost mai puțin impresionant, însă tehnologia a avut succes, si a inspirat industria filmului pentru “Lawnmower Man”, iar în 1998 Virtuality Group a incercat sa iasa pe piața consolelor de acasă, împreună cu Philips Electronics.</p>
                <p>În ceea ce privește jocurile, simulatorul VTOL și shooterul Dactyl Nightmare ies aici în evidență. Acesta din urmă, apropo, a oferi posibilitatea de de a juca in grup pe două dispozitive în același timp. în ciuda succesului insa, vânzările simulatorului Virtuality nu au depășit 55 de mii de exemplare.</p>
                <h3 class="text-gradient-orange">Sega VR (1993)</h3>
                <p>În cadrul expozitiei Consumer Electronics Show din 1993, Sega a anunțat ceva, numit Sega VR. Prototipul putea urmări pozitia capului, avea sunet stereo și ecrane LCD, iar pretul promis era de 200 de dolari.</p>
                <p>Inițial, Sega planifica că va lansa acel dispozitivul VR ca un accesoriu pentru consola sa “Genesis”. Dorinta lor era ca, realitatea virtuală sa nu fie folosita doar in mașinile de tip arcade ci si cu consolele casnice. Vanzarile lui “Genesis” depășise vanzarile consolelor Nintendo, iar Sega isi dorea să distruga concurentul sau Nintendo, profitând de VR. Compania investise peste un milion de dolari în dezvoltarea Sega VR.</p>
                <p>In ciuda faptului că au fost realizate patru jocuri pentru acesti ochelari, proiectul Sega VR a fost inchis. Mai mult, Sega a ales cea mai amuzanta scuză dintre toate. Potrivit cuvintelor, imaginea virtuala parea atat de reala, încât le era teamă că, după o astfel de scufundare, jucătorii nu se vor mai putea intoarce la viata reala.</p>
                <img data-src="{{ asset('build/img/history-5.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <h3 class="text-gradient-orange">Jaguar VR (1993)</h3>
                <p>În 1982, Atari a fondat un departament de dezvoltare al industriei VR, insa aceasta nu a ucrat prea mult, deoarece industria de gaming pe console s-a prăbușit.</p>
                <p>În 1993, Atari a lansat cea mai recentă consolă, “Jaguar”. În 1995 la expozitia Consumer Electronics Show, Atari a prezentat Jaguar VR, un accesoriu conceput pentru consola cu același nume. Ochelarii au fost dezvoltați în asociere cu Virtuality Group, care se presupunea ca vor scoate din joc ochelarii “Virtual Boy”, anunțati cu un an mai devreme.</p>
                <p>Incercarea companiei de a rămâne numarul 1 pe piata datorită tehnologiilor inovatoare a fost chiar una reușită, însă în 1995, o scădere semnificativă a vânzărilor Jaguar a fortat Atari să rupă acordul cu Virtuality, și să consola din producție.</p>
                <p>Necatand că ulterior toate prototipurile dispozitivului au fost distruse, doi console au ramas. Unua arată o imagine cu rezoluție mica, care constă din culorile roșu și gri. A doua dimpotrivă, are o rezoluție înaltă cu culorile albastru cu gri. Un singur joc a fost dezvoltat pentru Jaguar VR, și anume Missile Command 3D.</p>
                <img data-src="{{ asset('build/img/history-6.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <img data-src="{{ asset('build/img/history-7.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <h3 class="text-gradient-orange">StuntMaster (1993)</h3>
                <p>StuntMaster, lansat de Victormaxx pentru consolele Sega Mega Drive și Super Nintendo, funcționa mai degraba ca un televizor. Casca voluminoasă nu putea fi purtată mult timp pe cap. Mai avea posiposibilitatea să fie fixața pe umăr, dar atunci jucătorul nu putea întoarce capul. Niciun joc nu a fost conceput special pentru acest dispozitiv, așa că niciun gamer nu a observant disparitia acestei casti.</p>
                <img data-src="{{ asset('build/img/history-8.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <h3 class="text-gradient-orange">CyberMaxx (1994)</h3>
                <p>Despre Cybermaxx V1 se stie destul de putin. Acest dispozitiv a fost dezvoltat de Victormaxx în 1994 și avea o imagine cu o rezoluție de 505×230 pixel pentru fiecare ochi. Un an mai târziu, Victormaxx a lansat  Cybermaxx 2 la E3, care acea si mai multă rezoluție și suport pentru console si PC.</p>
                <img data-src="{{ asset('build/img/history-9.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <h3 class="text-gradient-orange">Virtual Boy (1995)</h3>
                <p>Nici Nintendo, nu a putut sta deoparte și a prezentat Virtual Boy, care de drept se afla pe locul doi în lista consolelor esuate ale companiei. Un an mai târziu, aceasta a fost scoasa din vanzare din cauza interesului scăzut al jucătorilor. Nu este surprinzător, deoarece Virtual Boy era mai degrabă un incercare al companiei de a intra in lumea VR.</p>
                <p>Dezvoltarea acestor ochelari a fost condusă de cunoscutul Hanpei Yokoi, care este responsabil pentru crearea consolei portabile GameBoy care a avut un mare succes. Yokoi era sigur că Virtual Boy nu este pregătit pentru lansare, insa Nintendo era de alta parere, dupa cum se vede, gresita.</p>
                <img data-src="{{ asset('build/img/history-10.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <p>Inițial, s-a presupus că aceasta casca va urmări mișcările capului, mai mult, această functionalitate a fost chiar implementată într-unul dintre prototipuri, insa versiunea finală s-a dovedit a fi fără această funcție. Pe langa faptul ca Virtual Boy folosea un ecran monocrom, casca în sine nu putea fi purtată pe cap. Ea se montată pe un suport special, ceea ce nu adăuga comoditate.</p>
                <img data-src="{{ asset('build/img/history-11.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <p>Au fost dezvoltate foarte putine jocuri pentru acesti ochelari, și toate foloseau doar culori roșu și negru. Cu o funcționalitate atât de limitată, si cu un preț de 180 de dolari, acesti ochelari nu au fost primiti de  jucători care au uitat rapid de Virtual Boy.</p>
                <img data-src="{{ asset('build/img/history-12.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <h3 class="text-gradient-orange">VFX-1 (1995)</h3>
                <p>În anii 90, a mai apărut o casca, si anume VFX-1 de la Forte Technologies. Aceasta casca avea tracking-ul capului, era dotata cu casti stereo si microfon.</p>
                <p>VFX-1 a avea două ecrane cu o rezolutie de 263×230 pixeli, care dadeau o imagine de 256 de culor. Dispozitivul se avea un pret de 600 de dolari. In anul 2000 acesta a fost înlocuit cu o versiune mai noua, VFX3D.</p>
                <img data-src="{{ asset('build/img/history-13.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <h3 class="text-gradient-orange">I-Ochelari (1995)</h3>
                <p>Tot in 1995 apare prima versiune de ochelari iGlasses primii ochelari de realitate augumentata (AR). De această dată, dezvoltatorii si-au dat staruinta, si ochelarii erau într-adevăr confortabili de purtat pe cap. Insa, acesti ochelari mai aveau două cabluri, o cutie VGA și o sursă de alimentare, cee ace facea ca acest dispozitiv sa fie atat de mobil cum sa declarant la inceput.</p>
                <img data-src="{{ asset('build/img/history-14.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <h3 class="text-gradient-orange">SEOS 120/40 HMD (1999)</h3>
                <p>Uriașul SEOS 120/40 HMD cântărea peste un kilogram și era dotat cu două ecrane LCD care afișau o imagine de 1280×1024 pixel, si avea un unghi de 120 de grade pe orizontală și 67 pe verticală, ceea ce este impresionant chiar și pentru ochelarii de astăzi. Aceasta casca a fost utilizată în principal pentru simulatoare de condus si de zbor.</p>
                <p>Chiar și fără tracking-ul capului acesta costa peste 70 de mii de dolari. Mai adaugati la aceasta un  calculator puternic cu două plăci video, cate una pentru fiecare ochi.</p>
                <img data-src="{{ asset('build/img/history-15.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <h3 class="text-gradient-orange">VirtuSphere (1999)</h3>
                <p>Într-un anumit sens, VirtuSphere era ceea ce fiecare jucător si-a visat în anii 90, cand se gândea la realitatea virtuală. Jucătorul se închidea într-o sferă uriașă cu un diametru de trei metri, care era amplasat pe o platformă specială care îi permite să se rotească în toate direcțiile, respectiv jucătorul putea să meargă în orice direcție. O astfel de scufundare completă a impresionat potențialii investitori, insa nici unul nu sa decis să investească în VirtuSphere. Păcat, pentru că, într-un anumit sens, VirtuSphere a mers mai departe decât orice alt dispozitiv similar.</p>
                <img data-src="{{ asset('build/img/history-16.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <p>De remarcat este faptul că dezvoltatorii au decis să nu renunțe, chiar și atunci când a devenit clar că proiectul nu este viabil și a reușit să vândă cateva exemplare muzeelor ​​și bazelor militare.</p>
                <h3 class="text-gradient-orange">Zilele noastre</h3>
                <p>În 2012, Lucky a părăsit universitatea și a lansat o campanie de cofounding pe Kickstarter, unde a strâns 2,5 milioane de dolari pentru a dezvolta o versiune al primilor ochelari moderni Oculus Rift. În martie 2014, Facebook a cumpărat compania Oculus VR pentru un pret de două miliarde de dolari.</p>
                <p>Aceasta fuziune a dat startul dezvoltarii realitatii virtuale si pentru alte companii.</p>
                <img data-src="{{ asset('build/img/history-17.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <p>O astfel de companie este Valve, care sa asociat cu compania taiwaneză HTC pentru a crea HTC Vive.</p>
                <p>Apropo, chiar înainte de a lansa Vive, Valve a găsit o modalitate de a imbunatati calitate imaginii. Aceasta inventive a fost  împărtășita si altilor producători, inclusiv Oculus VR.</p>
                <img data-src="{{ asset('build/img/history-18.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <p>Un alt participant mare la cursa virtuală a fost si Sony cu proiectul său Morpheus. Acestia au prezentat PlayStation VR.</p>
                <img data-src="{{ asset('build/img/history-19.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <p>In 2014 Google anunta ocelarii Google Cardboard, cea mai ieftină cască VR facuta din carton.</p>
                <img data-src="{{ asset('build/img/history-20.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <p>În 2015, Samsung a lansat Gear VR, dezvoltat împreună cu Oculus VR pentru telefoanele Samsung Galaxy.</p>
                <img data-src="{{ asset('build/img/history-21.jpg') }}" class="img-fluid d-block mx-auto lazy mb-4" />
                <p>In 2016 apare Pimax VR. Aceasta lanseaza pe piata o serie de casti cu imagini 4K. In 2020 castile de la Pimax Artisan au cea mai mare rezolutie de 3200×1440 pe ochi si cel mai mare unghi de 140 grade.</p>
            </div>
        </div>
    </div>
{% endblock %}