{% extends 'front_layout.html.twig' %}

{% block title %}Jocuri VR - Virtuality Club{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h1 class="text-gradient-blue">Jocuri VR in Club</h1>
            </div>
        </div>
        <div class="row mt-5">
            {% for title,picture in games %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                    <div class="grid-image">
                        <img data-src="{{ asset('build/img/jocuri/' ~ picture) }}" class="lazy" alt="{{ title }}" />
                    </div>
                    <h3 class="mt-1 text-center">{{ title }}</h3>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}