{% extends 'front_layout.html.twig' %}

{% block title %}Preturi - Virtuality Club{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h1 class="text-gradient-blue">Preturi VR</h1>
                <p>Ne străduim să vă oferim cea mai bună calitate la un preţ atractiv. În acest sens, avem stabilite următoarele preţuri şi promoţii:</p>
                <div class="table-responsive-lg">
                    <table class="table table-hover">
                        <thead>
                        <tr class="table-warning">
                            <th scope="col">Pachet</th>
                            <th scope="col">Durata</th>
                            <th scope="col">Copii</th>
                            <th scope="col">Adulti</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Personal</th>
                                <td>30 min</td>
                                <td>29 lei</td>
                                <td>39 lei</td>
                            </tr>
                            <tr>
                                <th scope="row">Personal</th>
                                <td>60 min</td>
                                <td>39 lei</td>
                                <td>49 lei</td>
                            </tr>
                            <tr>
                                <th scope="row">Entuziast</th>
                                <td>4 ore</td>
                                <td>149 lei</td>
                                <td>149 lei</td>
                            </tr>
                            <tr>
                                <th scope="row">Profesional</th>
                                <td>8 ore</td>
                                <td>279 lei</td>
                                <td>279 lei</td>
                            </tr>
                            <tr>
                                <th scope="row">Master</th>
                                <td>12 ore</td>
                                <td>399 lei</td>
                                <td>399 lei</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <span class="font-italic">Abonamentele VR le poţi folosi atât singur, cât şi cu prietenii tăi.</span>
                <p class="mt-5 font-weight-bold">
                    Doriţi să faceţi un cadou deosebit copiilor voştri, faceţi petrecerea în Clubul de Realitate Virtuală! Noi vă oferim distracţie la maxim!
                </p>
                <div class="table-responsive-lg">
                    <table class="table table-hover">
                        <thead>
                        <tr class="table-warning">
                            <th scope="col">Nr. copii</th>
                            <th scope="col">Pachet 3 ore luni-vineri</th>
                            <th scope="col">Pachet 3 ore sâmbătă-duminică</th>
                            <th scope="col">Pachet 4 ore luni-vineri</th>
                            <th scope="col">Pachet 4 ore sâmbătă-duminică</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><10</th>
                                <td>599 lei</td>
                                <td>899 lei</td>
                                <td>699 lei</td>
                                <td>999 lei</td>
                            </tr>
                            <tr>
                                <th scope="row">11-15</th>
                                <td>699 lei</td>
                                <td>999 lei</td>
                                <td>799 lei</td>
                                <td>1149 lei</td>
                            </tr>
                            <tr>
                                <th scope="row">16-25</th>
                                <td>799 lei</td>
                                <td>1099 lei</td>
                                <td>999 lei</td>
                                <td>1299 lei</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="font-weight-bold">Acces la toate echipamentele de joacă din club, pentru toţi invitaţii, atât copii cât şi părinţi!</p>
                <span>Pachetele includ:</span>
                <ul class="bullet-list">
                    <li>Suport din partea echipei noastre pe tot parcursul petrecerii</li>
                    <li>Invitaţii stilizate printate</li>
                    <li>Cameră separată destinată parinţilor şi copiilor</li>
                    <li>Accesorii pentru petrecere (farfurii, pahare, tacâmuri din plastic)</li>
                    <li>Sala de petreceri decorată cu baloane</li>
                    <li>O ora cadou omagiatului cu acces la toate echipamentele pentru vizită viitoare</li>
                    <li>Poză de grup printată pentru toţi copiii invitaţi</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}