{% extends 'front_layout.html.twig' %}
{% block title %}Scoala Altfel - Virtuality Club{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('scoala-altfel') }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h1 class="text-gradient-blue">Scoala Altfel - VR</h1>
                <p>Realitatea virtuală este cea mai recentă evoluție a tehnologiei educaționale, care permite profesorilor să-și angajeze pe deplin elevii in învățământ, și să aducă viață in lecții. Pentru că ne dorim să aducem noile tehnologii in învățământul român, venim cu o ofertă pentru Scoala Altfel.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h2 class="text-gradient-orange">Ce Invatam?</h2>
                <div class="learning-section">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="vr-lesson-card">
                                <div class="img-wrapper">
                                    <img data-src="{{ asset('build/img/vr-geography.jpg') }}" class="lazy" />
                                </div>
                                <h3>VR Geografie</h3>
                                <p>Se poate vizita practic orice colt al lumii, ca si cum ai fi present in locul respectiv. Te poti urca pe munti sau zbura deasupra lor. Poti explora piramidele egiptene.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="vr-lesson-card">
                                <div class="img-wrapper">
                                    <img data-src="{{ asset('build/img/vr-art.jpg') }}" class="lazy" />
                                </div>
                                <h3>VR Muzeu de arta</h3>
                                <p>Se pot vizita diverse muzee.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="vr-lesson-card">
                                <div class="img-wrapper">
                                    <img data-src="{{ asset('build/img/vr-anatomy.jpg') }}" class="lazy" />
                                </div>
                                <h3>VR Anatomie</h3>
                                <p>Se poate studia corpul uman (sistem sangvin, sistem nervos), orice organ in parte se poate cerceta si studia cum functioneaza.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="vr-lesson-card">
                                <div class="img-wrapper">
                                    <img data-src="{{ asset('build/img/vr-ocean.jpg') }}" class="lazy" />
                                </div>
                                <h3>VR Ocean</h3>
                                <p>Explorarea abisurilor oceanice.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="vr-lesson-card">
                                <div class="img-wrapper">
                                    <img data-src="{{ asset('build/img/vr-astronomy.jpg') }}" class="lazy" />
                                </div>
                                <h3>VR Astronomie</h3>
                                <p>Explorarea universului, sistemului solar, navelor cosmice cum ar fi Apolo 11.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="vr-lesson-card">
                                <div class="img-wrapper">
                                    <img data-src="{{ asset('build/img/vr-drawing.jpg') }}" class="lazy" />
                                </div>
                                <h3>VR Desen 3D</h3>
                                <p>Se poate desena tridimensional.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="vr-lesson-card">
                                <div class="img-wrapper">
                                    <img data-src="{{ asset('build/img/vr-design.jpg') }}" class="lazy" />
                                </div>
                                <h3>VR Constructii 3D</h3>
                                <p>Se pot modela constructii tridimensionale.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="vr-lesson-card">
                                <div class="img-wrapper">
                                    <img data-src="{{ asset('build/img/vr-simulator.jpg') }}" class="lazy" />
                                </div>
                                <h3>VR Simulator 3D</h3>
                                <p>cine nu si-a dorit sa piloteze un avion, ori o masina de curse.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="#" class="btn-primary accent-blue">Vezi mai multe jocuri</a>
                            <a href="#" class="btn-primary accent-blue border">Rezerva</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}