<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Test Application{% endblock %}</title>
    {% block stylesheets %}
      <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
  </head>
  <body>
    {% include 'front/includes/navigation.html.twig' %}
    <div class="main">
      {% block hero %}{% endblock %}
      {% block content %}{% endblock %}
    </div>
    {% include 'front/includes/footer.html.twig' %}
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </body>
</html>
