{% if hero_img is defined and hero_img %}
    {% set background = hero_img %}
{% else %}
    {% set background = null %}
{% endif %}

<div class="hero-banner__wrapper" {% if background %} style="background-image: {{ background }}" {% endif %}>

</div>